body {
    -moz-overflow-style: scroll;
    -webkit-app-region: drag;
    background-color: rgba(226, 226, 226, 0.6);
    border: 5px solid #fff;
}

input,
button {
    -webkit-app-region: no-drag;
    padding: 10px;
    font-size: 25px;
}

button {
    background-color: rgba(245, 245, 245, 0.7);
    color: #192;
    border: 3px solid #192;
    border-radius: 6px;
}

button:hover {
    transition-duration: 0.4s;
    background-color: rgba(10, 190, 20, 0.7);
    color: #fff;
    border: 3px solid #fff;
    box-shadow: 0px 2px #fff;
    cursor: pointer;
    text-transform: capitalize;
}

input {
    border-radius: 8px;
    width: 20%;
}

input:focus {
    transition-duration: 0.6s;
    width: 80%;
    border: 2px dashed rgb(201, 21, 60);
}

#headline>h1 {
    /*-webkit-user-select: none;*/
    /*user-select: none;*/
    color: purple;
    font-family: times;
    text-decoration: underline;
    font-family: Courier;
}

#headline,
#value,
#close {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}